[submodule "config/zsh"]
	path = config/zsh
	url = git@github.com:alexandrelamberty/zsh-config
	banch = master
[submodule "config/tmux"]
	path = config/tmux
	url = git@github.com:alexandrelamberty/tmux-config
	branch  = master
[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:alexandrelamberty/nvim-config
	branch = master
[submodule "config/polybar"]
	path = config/polybar
	url = git@github.com:alexandrelamberty/polybar-config.git
	branch = elitebook
[submodule "config/i3"]
	path = config/i3
	url = git@github.com:alexandrelamberty/i3-config.git
  branch = elitebook
